In [2]:
import pandas as pd
import numpy as np

In [16]:
# Tratamento dos dados faltantes do dataset

In [17]:
df = pd.read_csv(r"bases\questao1_coronavirus.csv", sep=';')
df.head()

,date,state,city,new_confirmed,new_deaths,estimated_population_2019
0,2020-06-21,AC,Acrelândia,0,0,15256.0
1,2020-06-21,AC,Assis Brasil,0,0,7417.0
2,2020-06-21,AC,Brasiléia,0,0,26278.0
3,2020-06-21,AC,Bujari,4,0,10266.0
4,2020-06-21,AC,Capixaba,5,1,11733.0

In [18]:
df.shape

(240649, 6)

In [19]:
Geral = pd.DataFrame({'Colunas': df.columns, 
                      'Tipo': df.dtypes, 
                      'Qtde dados faltantes':df.isna().sum(),
                      'Dados faltantes (%)': (df.isna().sum()/df.shape[0])*100,
                      'Valores únicos:': df.nunique()}).reset_index(drop=True)
Geral

,Colunas,Tipo,Qtde dados faltantes,Dados faltantes (%),Valores únicos:
0,date,object,0,0.000000,118
1,state,object,0,0.000000,27
2,city,object,0,0.000000,4679
3,new_confirmed,int64,0,0.000000,724
4,new_deaths,int64,0,0.000000,146
5,estimated_population_2019,float64,1443,0.599629,4577

In [20]:
df_nulos = df[df['estimated_population_2019'].isna() == True]
df_nulos

,date,state,city,new_confirmed,new_deaths,estimated_population_2019
57,2020-06-21,AL,Importados/Indefinidos,3,0,NaN
347,2020-06-21,BA,Importados/Indefinidos,-324,0,NaN
656,2020-06-21,CE,Importados/Indefinidos,4,0,NaN
765,2020-06-21,DF,Importados/Indefinidos,-67,-1,NaN
799,2020-06-21,ES,Importados/Indefinidos,0,0,NaN
...,...,...,...,...,...,...
240347,2020-03-18,PE,Importados/Indefinidos,1,0,NaN
240415,2020-03-17,PE,Importados/Indefinidos,1,0,NaN
240461,2020-03-16,PE,Importados/Indefinidos,0,0,NaN
240497,2020-03-15,PE,Importados/Indefinidos,0,0,NaN
240529,2020-03-14,PE,Importados/Indefinidos,1,0,NaN

In [21]:
df['estimated_population_2019'].fillna('SEM REGISTRO');

Como estão distribuidos os dados faltantes? Será que é de forma aleatória entre os estados, ou todos os dados faltantes se concentram no mesmo estado e podem influenciar na análise?

In [22]:
df_agg = df.groupby('state').count()
df_nulo_agg = df_nulos.groupby('state').count()
state = df_nulo_agg.index

In [ ]:
Abaixo verificamos o número de mortes e casos confirmados que serão desconsiderados casos sejam excluídas as linhas com dados fal

In [26]:
df_nulo_sum = df_nulos.groupby('state').count()
df_nulo_sum

       date  city  new_confirmed  new_deaths  estimated_population_2019
state
AL       85    85             85          85                          0
BA       90    90             90          90                          0
CE       95    95             95          95                          0
DF       88    88             88          88                          0
ES       90    90             90          90                          0
GO       95    95             95          95                          0
MG       93    93             93          93                          0
MT       77    77             77          77                          0
PA       63    63             63          63                          0
PE      100   100            100         100                          0
PR       92    92             92          92                          0
RJ       93    93             93          93                          0
RN       86    86             86          86                          0
RO       59    59             59          59                          0
RR       53    53             53          53                          0
SC       89    89             89          89                          0
SP       95    95             95          95                          0

In [23]:
df_faltantes_UF = pd.DataFrame(columns = ['UF','Total de registros', 'Total de registros faltantes', 'Resgistros faltantes %'])

In [24]:
for uf in state:
    tr = df_agg.loc[uf, 'date']
    tr_faltantes = df_nulo_agg.loc[uf, 'date']
    tr_faltantes_percent = (df_nulo_agg.loc[uf, 'date']/df_agg.loc[uf, 'date'])*100
    df_faltantes_UF.loc[len(df_faltantes_UF)] = [uf, tr, tr_faltantes, tr_faltantes_percent]

In [25]:
df_faltantes_UF

    UF Total de registros Total de registros faltantes  Resgistros faltantes %
0   AL               5038                           85                1.687177
1   BA              17161                           90                0.524445
2   CE              11852                           95                0.801552
3   DF                195                           88               45.128205
4   ES               5325                           90                1.690141
5   GO               8093                           95                1.173854
6   MG              25061                           93                0.371095
7   MT               4919                           77                1.565359
8   PA               8648                           63                0.728492
9   PE              11036                          100                0.906125
10  PR              14844                           92                0.619779
11  RJ               6807                           93                1.366241
12  RN               8033                           86                1.070584
13  RO               2517                           59                2.344060
14  RR               1020                           53                5.196078
15  SC              13785                           89                0.645629
16  SP              32678                           95                0.290715

In [12]:
#Completando os dados faltantes do DF
df.loc[df['state']=='DF', 'estimated_population_2019'] = 3015268.0

In [13]:
# O restante dos estados o percentual de dados faltantes é muito baixa então podemos excluir
df.dropna(inplace=True)

In [14]:
df.shape

(239294, 6)

In [15]:
df.to_csv('df_corona_tratado.csv', index=False)